* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body {
    padding: 5vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    padding: 10px 30px;
    font-size: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid cyan;
    color: cyan;
    font-weight: 600;
    position: relative;
    z-index: 1;
    transition: all linear 1s;
    overflow: hidden;
    
    
}

#main::after {
    content: "";
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    position: absolute;
    background-color: cyan;
    transition: all linear 1s;
    z-index: -1;
}

#main:hover::after {
    transform: translate(-50%, -50%) scale(4);
}

#main:hover {
    color: black;
}

